@model IEnumerable<Aplikacija.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeOd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeDo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeOd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.Id)
            </td>
                <td>

                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>

                        <span>|</span>

                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                        <span>|</span>

                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }

                    @if (User.IsInRole("Employee"))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                        <span>|</span>

                        <form asp-action="StartSession"
                              method="post"
                              style="display:inline;">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-warning btn-sm">
                                Start Session
                            </button>
                        </form>
                    }

                </td>
        </tr>

}
    </tbody>
</table>


