@model Aplikacija.Models.Narudzba

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Narudzba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Proizvod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Proizvod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Korisnik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Korisnik.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
