@model IEnumerable<Aplikacija.Models.Sesija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VrijemePocetka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrijemeZavrsetka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>User</th>
            <th>
                Device
            </th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemePocetka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrijemeZavrsetka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
                <td>
                    @(item.AnonimniGost ? "Anonymous Guest" : item.Korisnik?.Email)
                </td>
            <td>
                    @item.Uredjaj.TipUredjaja
            </td>
                <td>
                    @{
                        double cijenaPoSatu = 0;

                        if (item.Uredjaj is PC pc)
                        {
                            cijenaPoSatu = pc.CijenaPoSatu;
                        }
                        else if (item.Uredjaj is PlayStation ps)
                        {
                            cijenaPoSatu = ps.CijenaPoSatu;
                        }
                        else if (item.Uredjaj is XBox xbox)
                        {
                            cijenaPoSatu = xbox.CijenaPoSatu;
                        }

                        var trajanje = item.VrijemeZavrsetka - item.VrijemePocetka;
                        var cijena = trajanje.TotalHours * cijenaPoSatu;
                    }

                    @cijena.ToString("0.00") KM
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    @if (item.Status == StatusSesije.Aktivna)
                    {
                        <form asp-action="EndSession" method="post" style="display:inline;">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-warning">
                                End Session
                            </button>
                        </form>
                    }
                    else
                    {
                        
                    }
            </td>
        </tr>
}
    </tbody>
</table>
